* {
    margin: 0;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 375px;
    height: 100vh;
    background-color: #E5E5E5;
}

.Login {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100%;
    background-color: #FFFFFF;

    align-items: center;

    position: fixed;
    z-index: 5;
}

.LogoLogin {
    width: 130px;
    height: 92px;
    margin: 72px auto 0 auto;
}

.InputLogin {
    width: 260px;
    height: 64px;
    font-size: 18px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    margin: 94px auto 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.ButtonLogin {
    width: 109px;
    height: 45px;
    font-size: 18px;
    color: #696969;
    background-color: #E7E7E7;
    border: none;
    border-radius: 9px;
    margin: 15px auto 0 auto;
    font-family: 'Roboto', sans-serif;
}


.TopBar {
    display: flex;
    align-items: center;
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 25px 0px rgba(40, 40, 40, 0.25);
}

.LogoIcon {
    width: 75px;
    margin: 0 auto 0 22px;
}

.ContactIcon {
    width: 83px;
    height: 100%;
    margin: auto;
}

.ContactButton {
    display: flex;
    justify-content: center;
    width: 83px;
    height: 45px;
    border: none;
    margin: 0 22px 0 auto;
    background-color: transparent;
    z-index: 99999;
}

/* MENSAGENS */
.PostMessages {
    background-color: #E5E5E5;

    height: auto;
    padding: 110px 0 100px 0;

    overflow-y: scroll;
}

.message {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    line-height: 20px;

    border-radius: 2px;

    padding: 15px 15px;
    margin-bottom: 4px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.message.status {
    background-color: #DCDCDC;
}

.message.private {
    background-color: #FFDEDE;
}

.message .hour {
    color: #AAAAAA;
    margin-right: 3px;
}

.message .info {
    font-weight: 700;
    margin-right: 2px;
}

.message .info .normal {
    font-weight: 400;
}





.BottonBar {
    display: flex;
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -10px 25px 0px rgba(40, 40, 40, 0.25);
}

.TextMessage {
    border: none;
    font-size: 18px;
    height: 30px;
    padding: 5px 0 5px 10px;
    font-family: 'Roboto', sans-serif;
}

.SendButton {
    display: flex;
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.Hidden {
    display: none;
}

.SideVisible {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9;
    width: 259px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #ffffff;
}
.On{
    display: flex;
    position: fixed;
    z-index: 8;
    width: 256px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.6;
}

.SideList {
    padding: 0;
    overflow-x: hidden;
}

.Label {
    display: flex;
    margin: 38px auto;
    padding: 0 45px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.ContactsList, .Visibility {
    padding-left: 20px;
    margin-bottom: 30px;
}

.ListItem {
    display: flex;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 5px 0;
    gap: 5px;
}

.ListItemVisibility {
    display: flex;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 5px 0;
    gap: 5px;
}

.ListItem.Todos {
    display: flex;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 20px;
}

.IconList {
    width: 21px;
    margin-right: 5px;
}

.SideVisible {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 8;
    width: 259px;
    height: 100%;
    right: 0px;
    top: 0;
    background-color: #ffffff;
}

.CheckOn{
    margin: auto 20px auto auto;
    display: flex;
    width: 18px;
    color: green;
}
.CheckOff{
    display: none;
}